<tr>
    <td>Forearms</td>
    <td>Triceps</td>
     <td>30 Reps at 10 pounds</td>
    <td>25 Reps at 10 pounds</td>
    <td>
        <a href="/update-workout" class="btn border-shadow update">
        <span class="text-gradient"><i class="fa-solid fa-shield"></i></span>
    </a>
    <a href="#" class="btn border-shadow delete">
        <span class="text-gradient"><i class="fa-solid fa-x"></i></span>
    </a>
</td>
</tr>