             <!-- form handling -->
             <form action="/api/workouts" method="POST" id="new_workout">
                <div class="new_workout">
                    <div class="form-group">
                        <label for="Type of workout" class="text-light">Type of Workout</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="typeOfWorkout" value="" placeholder="Legs">
                    </div>
                    <div class="form-group">
                        <label for="Muscle/Muscle Group" class="text-light">Muscle/Muscle Group</label>
                        <input type="text" name="muscleGroup" value="" placeholder="Calfs">
                    </div>
                    <div class="form-group">
                        <label for="Goal" class="text-light">Current Goal</label>
                        <input type="text" name="goal" value="" placeholder="15 reps at 45 pounds">
                    </div>
                    <div class="form-group">
                        <label for="Previous Goal" class="text-light">Previous Goal</label>
                        <input type="text" name="previousGoal" value="" placeholder="10 reps at 45 pounds">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save Workout</button>
                    </div>
                </div>
            </form>